*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header{
    width: 100%;
    height: 150px;
    padding: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 30px;
}

.logo{
    width: 250px;
    height: 100%;
    color: #fff;
    text-align: center;
    margin-right: 30px;
}

.logo img{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}


.list-header{
    width: 600px;
    margin-left: 50px;
    list-style: none;
    display: flex;
}

.list-header li {
    margin: 0 20px;
}

.list-header li a{
    text-decoration: none;
    font-weight: 900;
    color: black;
    font-family: cursive;
    position: relative;
}

.list-header li a::after{
    position: absolute;
    top: -20px;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ff90f9;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s , top .5s;
}

.list-header li a:hover::after{
    opacity: 1;
    top: 0;
}


nav{
    width: 100%;
    margin: 20px 20px 20px 0;
}

nav ol{
    display: flex;
    list-style: none;
    margin: 0 10px;
}

nav ol span{
    margin: 0 17px;
    font-size: 18px;
    font-weight: bold;
}

nav ol li{
    margin: 0 10px 0 0;
}

nav ol li a{
    text-decoration: none;
    font-weight: 800;
    font-size: 17px;
    color: black;
    font-family: cursive;
    position: relative;
}

nav ol li a::after{
    position: absolute;
    top: 0;
    left: -100%;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ff90f9;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s , left .5s;
}

nav ol li a:hover::after{
    left: 0;
    opacity: 1;
}


.section-desc{
   margin-top: 30px;
    width: 100%;
    padding: 10px;
}


.section-desc h1{
    position: relative;
    margin: 15px 0;
    font-size: 25px;
}

.section-desc h1::after{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 20%;
    height: 100%;
    background-color: #fff490;
    z-index: -1;
}

.section-desc div{
    width: 50%;
}


.section-cart{
    width: 100%;
    height: auto;
    margin: 0 10px 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart{
    width: 25%;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

.content-ove{
    position: absolute;
    top: -25%;
    left: -374px;
    content: "";
    transform: rotate(12deg);
    width: 87%;
    height: 151%;
    background-color: #fff490;
    transition: left .5s;
}

.content-ove div{
    margin-left: 24%;
    margin-top: 225px;
    transform: rotate(-12deg);
}

.content-ove div h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.content-ove div p{
    line-height: 30px;
}

.cart:hover .content-ove{
    left: -55px;
}



.cart-image{
    width: 100%;
    height: 300px;
}

.cart-image img{
    width: 100%;
    height: 100%;
}

.conten-cart{
    width: 100%;
    height: 50%;
}

.conten-cart h2{
    margin: 10px 0;
}

.conten-cart ul{
    list-style: none;
}

.conten-cart ul li{
    margin: 5px 0;
}

.conten-cart ul li a{
    color: black;
    font-weight: 900;
    font-family: cursive;
}


.color-gri{
    color: gray;
}

.color-green{
    color: green;
}
